/* Proform Styles */
body.proform-user #siteHeader {
  background-color: #fd6823;
}
body.proform-user .productFull .productPrice, body.proform-user .productTeaser .productPrice {
  color: #fd6823;
}

.page-proform #block-system-main .form-submit {
  padding: 14px 24px;
  background-color: #4d4d4d;
  font-size: 1.0em;
  border: none;
  color: white;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  margin-bottom: 20px;
}
.page-proform #block-system-main .proform-form {
  padding: 60px;
  margin-bottom: 20px;
}
.page-proform #block-system-main .proform-form .confirm-parent, .page-proform #block-system-main .proform-form .password-parent {
  width: auto;
}

.proformForms h2 {
  font-size: 2.0em;
}
