/* Proform Styles */
@import 'compass';

$proformColor: #FD6823;
$searchboxBackground: #4D4D4D;

@mixin modform-button() {
	padding: 14px 24px;
	background-color: $searchboxBackground;
	font-size:1.0em;
	border:none;
	color:white;
	@include transition(all 0.3s ease-in-out);
	display: inline-block;
	margin-bottom:20px;
}

body.proform-user {
	#siteHeader {
		background-color: $proformColor;
	}
	.productFull .productPrice, .productTeaser .productPrice {
		color: $proformColor;
	}
}
.page-proform {
	#block-system-main {
		.form-submit {
			@include modform-button();
		}
		.proform-form {
			padding: 60px;
			margin-bottom: 20px;
			.confirm-parent, .password-parent {
				width: auto;
			}
		}
	}
}

.proformForms {
	h2 {
		font-size: 2.0em;
	}
}